<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список Заказов</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="text-center mb-4">Список Заказов</h1>

    <a th:href="@{/orders/new}" class="btn btn-primary mb-3">Создать новый заказ</a>

    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Пользователь</th>
            <th>Дата заказа</th>
            <th>Общая сумма</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.orderId}"></td>
            <td th:text="${order.user.username}"></td>
            <td th:text="${#temporals.format(order.orderDate, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${order.totalAmount}"></td>
            <td th:text="${order.status}"></td>
            <td>
                <a th:href="@{/orders/{id}(id=${order.orderId})}" class="btn btn-sm btn-info me-1">Просмотр</a>
                <a th:href="@{/orders/edit/{id}(id=${order.orderId})}" class="btn btn-sm btn-warning">Редактировать</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/" class="btn btn-secondary mt-3">Back to Home</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>