<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Список Отзывов</title>
</head>
<body>
<h1>Список Отзывов</h1>

<a th:href="@{/reviews/new}">Добавить новый отзыв</a>

<div th:if="${reviews.isEmpty()}">
  <p>Нет доступных отзывов.</p>
</div>
<div th:unless="${reviews.isEmpty()}">
  <table border="1">
    <thead>
    <tr>
      <th>ID</th>
      <th>Пользователь</th>
      <th>Продукт</th>
      <th>Рейтинг</th>
      <th>Комментарий</th>
      <th>Дата создания</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="review : ${reviews}">
      <td th:text="${review.reviewId}"></td>
      <td th:text="${review.user.username}"></td> <!- - Предполагаем связь с User -->
      <td th:text="${review.product.name}"></td>  <!- - Предполагаем связь с Product -->
      <td th:text="${review.rating}"></td>
      <td th:text="${review.comment}"></td>
      <td th:text="${#temporals.format(review.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
      <td>
        <a th:href="@{/reviews/{id}(id=${review.reviewId})}">Просмотр</a>
        <a th:href="@{/reviews/edit/{id}(id=${review.reviewId})}">Редактировать</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<a href="/">Back to Home</a>
</body>
</html>